@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
* {
  font-family: "Kanit", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
  color: #402617;
}

.bg-pattern {
  background-image: url(../images/top.png);
  background-size: cover;
}

.footer__text {
  color: #6CA6D9;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-evenly;
}

.follow-us {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.footer-bg {
  background-image: url(../images/group.png);
  width: 100%;
}

.follow-us img:hover {
  width: 9vh;
}

.menu {
  background-color: #99C8F2;
}

.dropdown {
  font-size: 3vh;
}

.links {
  font-size: 3vh;
  margin-left: 8vh;
}

.dropdown_text {
  font-family: "Kanit", sans-serif;
}

.dropdown_bg {
  background-image: url(../images/dropdown-bg.png);
}

.dropdown_select:hover {
  background-image: url(../images/dropdown-select.png);
}

.errortext {
  font-family: "Kanit", sans-serif;
  color: #402617;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.transform:hover {
  transform: translateY(5px);
  transition: all 0.5s;
  cursor: pointer;
}

@keyframes AnimateFollow {
  0% {
    color: #6CA6D9;
  }
  25% {
    color: #6CA6D9;
  }
  50% {
    color: white;
  }
  75% {
    color: white;
  }
  100% {
    color: #6CA6D9;
  }
}
.animatefollow {
  animation: AnimateFollow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes AnimateText {
  0% {
    color: #402617;
  }
  25% {
    color: #5F2727;
  }
  50% {
    color: #803C3C;
  }
  75% {
    color: #B36A6A;
  }
  85% {
    color: #BF9D7E;
  }
  100% {
    color: #402617;
  }
}
.animate:hover {
  animation: AnimateText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.text {
  font-family: "Kanit", sans-serif;
  color: #402617;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.how-we {
  display: flex;
  height: 55vh;
  flex-direction: row-reverse;
  margin-top: -195px;
  margin-right: 150px;
}

.aboutus__img {
  height: 190px;
  width: 50px;
}

.howwedoit__text {
  font-family: "Kanit", sans-serif;
  color: #402617;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

p {
  font-family: "Kanit", sans-serif;
  color: #402617;
  font-size: 25px;
  position: absolute;
  top: 75vh;
}

@media screen and (max-width: 320px) {
  .bg-pattern {
    background-image: url(../images/top.png);
    background-size: cover;
  }
  .text {
    color: #402617;
    display: grid;
    justify-items: start;
    grid-template-columns: 4fr 2fr;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 10vh;
  }
  .images {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .aboutus__img {
    margin-left: 0px;
    height: 50vh;
    width: 100vh;
  }
  .how-we {
    height: 20vh;
    width: 45vh;
    margin-right: 12vh;
    margin-top: 1vh;
  }
  .footer-bg {
    background-image: url(../images/group.png);
    width: 100%;
    margin-top: 76px;
  }
}
@media screen and (min-width: 480px) {
  .footer-bg {
    background-image: url(../images/group.png);
    width: 100%;
    margin-top: 76px;
  }
  .aboutus__img {
    margin-left: 30px;
    margin-top: 10px;
    height: 40vh;
    width: 75vh;
  }
  .how-we {
    height: 30vh;
    width: 45vh;
    margin-left: 45vh;
    margin-top: -150px;
  }
}
@media screen and (min-width: 600px) {
  .text {
    color: #402617;
    display: grid;
    justify-items: start;
    grid-template-columns: 4fr 2fr;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 10vh;
  }
  .aboutus__img {
    margin-left: 20px;
    width: 65vh;
  }
  .images {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .footer-bg {
    background-image: url(../images/group.png);
    width: 100%;
    margin-top: 76px;
  }
  .how-we {
    height: 30vh;
    width: 50vh;
    margin-left: 10vh;
    margin-top: 1vh;
  }
}
@media screen and (min-width: 768px) {
  .text {
    color: #402617;
    display: grid;
    justify-items: start;
    grid-template-columns: 4fr 2fr;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 10vh;
  }
  p {
    font-family: "Kanit", sans-serif;
    color: #402617;
    font-size: 25px;
    position: absolute;
  }
  .images {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .footer-bg {
    background-image: url(../images/group.png);
    width: 100%;
    margin-top: 76px;
  }
  .how-we {
    height: 40vh;
    width: 52vh;
    margin-left: 15vh;
    margin-top: -10px;
  }
  .aboutus__img {
    margin-left: 45px;
    width: 60vh;
  }
}
@media screen and (min-width: 1023px) {
  .text {
    color: #402617;
    display: grid;
    justify-items: start;
    grid-template-columns: 4fr 2fr;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    row-gap: 10vh;
  }
  .images {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 2fr;
  }
  .footer-bg {
    background-image: url(../images/group.png);
    width: 100%;
    margin-top: 100%;
  }
  .how-we {
    height: 40vh;
    width: 65vh;
    margin-left: 15vh;
    margin-top: -10px;
  }
  .aboutus__img {
    margin-left: 0px;
    height: 55vh;
    width: 100vh;
  }
}
@media screen and (min-width: 1024px) {
  .text {
    color: #402617;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-around;
  }
  .footer-bg {
    background-image: url(../images/group.png);
    width: 100%;
    margin-top: 155px;
  }
  .aboutus__img {
    width: 200vh;
    margin-top: 1vh;
    margin-left: 0px;
  }
  .images {
    display: flex;
    justify-content: space-around;
  }
  .how-we {
    width: 110vh;
    height: 45vh;
    margin-top: -130px;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    color: #402617;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-around;
  }
  .footer-bg {
    background-image: url(../images/group.png);
    width: 100%;
    margin-top: 155px;
  }
  .aboutus__img {
    width: 150vh;
    margin-top: 3px;
    margin-left: 10%;
  }
  .images {
    display: flex;
    justify-content: space-around;
  }
  .how-we {
    width: 130vh;
    height: 55vh;
    margin-left: 240px;
    margin-top: -190px;
  }
}
/* desktop flotan 4 por fila */
.imagesFlex {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imagesFlex div {
  width: 24%;
  margin-top: 20px;
}

.imagesFlex div img {
  width: 100%;
}

/* flotan 2 por fila */
@media (width <= 992px) {
  .imagesFlex div {
    width: 49%;
  }
}
/* uno por fila */
@media (width <= 480px) {
  .imagesFlex div {
    width: 100%;
  }
}
.text {
  font-family: "Kanit", sans-serif;
  color: #402617;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.h1-countries {
  font-family: "Kanit", sans-serif;
}/*# sourceMappingURL=main.css.map */