// fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
// vars
$mainFont: 'Kanit', sans-serif;;
$mainColor: #402617;



*{
    font-family:'Kanit', sans-serif;
}
h1,
h2,
h3{
    font-family:'Kanit', sans-serif;
    color: #402617;
}
.bg-pattern{   
    background-size: cover;
}
.footer__text{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-evenly;
}
.follow-us{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.footer-bg{
    width: 100%;
}
.follow-us img:hover{
    width: 9vh;  
}
.menu{
    background-color: #99C8F2;
}
.dropdown{
    font-size: 3vh;
}
.links{
    margin-left: 8vh;
}
.dropdown_text{
    font-family: $mainFont;
}
.dropdown_bg{
    background-image: url(../images/dropdown-bg.png);
}
.dropdown_select:hover{
    background-image: url(../images/dropdown-select.png);
}
.errortext{
    font-family: $mainFont;
    color: $mainColor;
    display: flex;
    justify-content: center;
    flex-direction: row;
}