//text
.text{
    color: #402617;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.h1-countries{
    font-family: 'Kanit', sans-serif;;
}
//images
/* desktop flotan 4 por fila */
.imagesFlex{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .imagesFlex div{
        width:24% ;
        margin-top: 20px;
    }
        .imagesFlex div img{
            width: 100%;
        }