//text
.howwedoit__text{
    color: #402617;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
//image
.how-we{
    display: flex;
    height: 55vh;
    flex-direction: row-reverse;
    margin-top: -195px;
    margin-right: 150px;
}