//320px
@media screen and (max-width: 320px){
    .bg-pattern{
        background-image: url(../images/top.png);
        background-size: cover;
    }
    .text{
        color: #402617;
        display: grid;
        justify-items: start;
        grid-template-columns: 4fr 2fr;
        column-gap: 1vh;
        row-gap: 10vh;
    }
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .aboutus__img{
        margin-left: 0px;
        height: 50vh;
        width: 100vh;
    }
    .how-we{
        height: 20vh;
        width: 45vh;
        margin-right: 12vh;
        margin-top: 1vh;
    }
    .footer-bg{
        width: 100%;
        margin-top: 76px;
    }
}
//480px
@media screen and (min-width: 480px){
    .footer-bg{
        width: 100%;
        margin-top: 76px;
    }
    .aboutus__img{
        margin-left: 30px;
        margin-top: 10px;
        height: 40vh;
        width: 75vh;
    }
    .how-we{
        height: 30vh;
        width: 45vh;
        margin-left: 45vh;
        margin-top: -150px;
    }
}
//600px
@media screen and (min-width: 600px){
    .text{
        color: #402617;
        display: grid;
        justify-items: start;
        grid-template-columns: 4fr 2fr;
        column-gap: 1vh;
        row-gap: 10vh;
    }
    .aboutus__img{
        margin-left: 20px;
        width: 65vh;
    }
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .footer-bg{
        width: 100%;
        margin-top: 76px;
    }
    .how-we{
        height: 30vh;
        width: 50vh;
        margin-left: 10vh;
        margin-top: 1vh;
    }
}
//768px
@media screen and (min-width: 768px){
    .text{
        color: #402617;
        display: grid;
        justify-items: start;
        grid-template-columns: 4fr 2fr;
        column-gap: 1vh;
        row-gap: 10vh;
    }
    p{
        font-family: $mainFont;
        color: $mainColor;
        font-size: 25px;
    }
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .footer-bg{
        width: 100%;
        margin-top: 150px;
    }
    .how-we{
        height: 40vh;
        width: 52vh;
        margin-left: 15vh;
        margin-top: -10px;
    }
    .aboutus__img{
        margin-left: 45px;
        width: 60vh;
    }
}
//1023px
@media screen and (min-width: 1023px){
    .text{
        color: #402617;
        display: grid;
        justify-items: start;
        grid-template-columns: 4fr 2fr;
        column-gap: 1vh;
        row-gap: 10vh;
    }
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 2fr;
    }
    .footer-bg{
        width: 100%;
        margin-top: 400px;
    }
    .how-we{
        height: 40vh;
        width: 65vh;
        margin-left: 15vh;
        margin-top: -10px;
    }
    .aboutus__img{
        margin-left: 0px;
        height: 55vh;
        width: 100vh;
    }
}
//1024px
@media screen and (min-width: 1024px){
    .text{
        color: #402617;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        justify-content: space-around;
    }
    .footer-bg{
        width: 100%;
        margin-top: 155px;
    }
    .aboutus__img{
        width: 200vh;
        margin-top: 1vh;
        margin-left: 0px;
    }
    .images{
        display: flex;
        justify-content: space-around;
    }
    .how-we{
        width: 110vh;
        height: 45vh;
        margin-top: -130px;
    }
}
//1200px
@media screen and (min-width: 1200px){
    .text{
        color: #402617;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        justify-content: space-around;
    }
    .footer-bg{
        width: 100%;
        margin-top: 170px;
    }
    .aboutus__img{
        width: 75%;
        margin-top: 10px;
        margin-left: 90px;
    }
    .images{
        display: flex;
        justify-content: space-around;
    }
    .how-we{
        width: 130vh;
        height: 55vh;
        margin-left: 200px;
        margin-top: -230px;
    }
}

/* desktop flotan 4 por fila */
.imagesFlex{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .imagesFlex div{
        width:24% ;
        margin-top: 20px;
    }
        .imagesFlex div img{
            width: 100%;
        }
/* flotan 2 por fila */
@media (width <= 992px){
    .imagesFlex div{
        width:49%;
    }
}
/* uno por fila */
@media (width <= 480px){
    .imagesFlex div{
        width:100%;
    }
}