//320px
@media screen and (min-width: 320px){
    .bg-pattern{
        background-image: url(../images/top.png);
        background-size: cover;
    }
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .aboutus__img{
        margin-left: 0px;
        height: 50vh;
        width: 100vh;
    }
    .how-we{
        height: 20vh;
        width: 45vh;
        margin-right: 12vh;
        margin-top: 1vh;
    }
    .footer-bg{
        background-image: url(../images/group.png);
        width: 64vh;
        margin-top: 76px;
    }
}
//480px
@media screen and (min-width: 480px){
    .footer-bg{
        background-image: url(../images/group.png);
        width: 70vh;
        margin-top: 76px;
    }
    .aboutus__img{
        margin-left: 0px;
        height: 45vh;
        width: 100vh;
    }
    .how-we{
        height: 30vh;
        width: 45vh;
        margin-left: 45vh;
        margin-top: -150px;
    }
}
//600px
@media screen and (min-width: 600px){
    .aboutus__img{
        margin-left: 0px;
        margin-top: 0px;
        height: 45vh;
        width: 120vh;
    }
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .footer-bg{
        background-image: url(../images/group.png);
        width: 60vh;
        margin-top: 76px;
    }
    .how-we{
        height: 30vh;
        width: 45vh;
        margin-left: 15vh;
        margin-top: -10px;
    }
}
//768px
@media screen and (min-width: 768px){
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .footer-bg{
        background-image: url(../images/group.png);
        width: 60vh;
        margin-top: 76px;
    }
    .how-we{
        height: 40vh;
        width: 52vh;
        margin-left: 15vh;
        margin-top: -10px;
    }
    .aboutus__img{
        margin-left: 0px;
        height: 55vh;
        width: 100vh;
    }
}
//1023px
@media screen and (min-width: 1023px){
    .images{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 2fr;
    }
    .footer-bg{
        background-image: url(../images/group.png);
        width: 60vh;
        margin-top: 76px;
    }
    .how-we{
        height: 40vh;
        width: 65vh;
        margin-left: 15vh;
        margin-top: -10px;
    }
    .aboutus__img{
        margin-left: 0px;
        height: 55vh;
        width: 100vh;
    }
}
//1024px
@media screen and (min-width: 1024px){
    .footer-bg{
        background-image: url(../images/group.png);
        width: 350px;
        margin-top: 155px;
    }
    .aboutus__img{
        width: 200vh;
        margin-top: 1vh;
        margin-left: 0px;
    }
    .images{
        display: flex;
        justify-content: space-around;
    }
    .how-we{
        width: 110vh;
        height: 45vh;
        margin-top: -130px;
    }
}
//1200px
@media screen and (min-width: 1200px){
    .footer-bg{
        background-image: url(../images/group.png);
        width: 1224px;
        margin-top: 155px;
    }
    .aboutus__img{
        width: 200vh;
        margin-top: 1vh;
        margin-left: 2px;
        margin-top: 2px;
    }
    .images{
        display: flex;
        justify-content: space-around;
    }
    .how-we{
        width: 130vh;
        height: 55vh;
        margin-left: 240px;
        margin-top: -195px;
    }
}

/* desktop flotan 4 por fila */
.imagesFlex{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .imagesFlex div{
        width:24% ;
        margin-top: 20px;
    }
        .imagesFlex div img{
            width: 100%;
        }
/* flotan 2 por fila */
@media (width <= 992px){
    .imagesFlex div{
        width:49%;
    }
}
/* uno por fila */
@media (width <= 480px){
    .imagesFlex div{
        width:100%;
    }
}